@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* :root{
  max-wid: 1140px;
  text-color: #6c757d;
  bgcolor: #790bdf;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

#home {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 50px;
  background-color: #790bdf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  display: flex;
  width: 1140px;
}

/* .image-container {
} */
.image-container img {
  width: 470px;
  border-radius: 50%;
  height: 100%;
}

.info-container {
  color: #fff;
  padding-left: 64px;
  width: inherit;
}

.info-container span h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 90px;
}

.name-container h1 {
  color: transparent;
  font-size: 6rem;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #fff;
  margin-top: 7px;
}

.profession-container {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.profession-container h2 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  height: 80px;
  font-family: "Space Mono", monospace;
  text-transform: capitalize;
}

.cursor {
  display: inline-block;
  height: 47px;
  width: 5px;
  margin-left: 10px;
  background: #fff;
  margin-bottom: 10px;
  animation: blink 0.3s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.home-action-container {
  margin-top: 50px;
}

.home-action-container a {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  font-size: 0.95rem;
  text-transform: uppercase;
}

.home-action-container #contact-btn {
  margin-left: 25px;
}

/* moving down icon */
#down-icon {
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 7%;
  transform: translate(-50%, -7%);
  animation-name: up-down-moving-icon;
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
}

@keyframes up-down-moving-icon {
  0% {
    bottom: 7%;
  }

  25% {
    bottom: 8%;
  }

  50% {
    bottom: 7%;
  }

  75% {
    bottom: 8%;
  }

  100% {
    bottom: 7%;
  }
}

/* about section starts here */
#about-me {
  width: 100%;
  padding: 50px 15px;
  margin-bottom: 50px;
}

.about-container {
  margin: auto;
  display: flex;
  margin-top: 50px;
  max-width: 1140px;
}

.about-image-container img {
  width: 450px;
  user-select: none;
}

.about-info-container {
  padding-left: 50px;
}

.about-info-container h2 {
  padding: 20px 0;
  font-size: 2.3rem;
  color: #333;
}

.about-info-container p {
  word-spacing: 2px;
  line-height: 27px;
  font-size: 1.3rem;
  color: #6c757d;
  user-select: none;
}

.about-info-row {
  color: #6c757d;
  font-size: 1.7rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
}

.about-info-column {
  width: 50%;
  margin-top: 15px;
}

.about-info-column h6 {
  font-weight: 400;
}

.about-info-column span {
  margin-left: 6px;
}

.freelance-available {
  background-color: greenyellow;
  padding: 3px 18px;
  font-size: 1rem;
  border-radius: 5px;
}

.freelance-unavailable {
  color: #fff;
  background-color: red;
  padding: 3px 18px;
  font-size: 1rem;
  border-radius: 5px;
}

.about-info-column a {
  text-decoration: none;
  color: #6c757d;
}

/* about section ends here */

/* skills section starts here */
#skills {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
}

#skills h4 {
  text-align: center;
  word-spacing: 2px;
  line-height: 27px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #6c757d;
  width: 1140px;
  margin: auto;
}

.skills-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  /* TODO: do the same thing using grid */
}

.skill {
  width: 150px;
  height: 150px;
  margin: 20px 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.skill img {
  width: 128px;
  height: 128px;
}

/* skills section ends here */

/* portfolio section starts here */
#portfolio {
  width: 100%;
  padding: 50px 15px;
  margin-bottom: 50px;
}

.portfolio-container {
  padding-top: 50px;
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.project {
  width: 316px;
  height: 230px;
  margin: 13px;
  position: relative;
}

.portfolio-container .project:last-child {
  visibility: hidden;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.options-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a4a4a69;
  display: none;
}

.options-container a {
  padding: 9px 20px;
  border-radius: 19px;
  border: none;
  background: #790bdf;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.project:hover .options-container {
  display: flex;
}

/* contact section starts here */
#contact {
  padding-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.contact-container {
  margin-top: 25px;
}

#contact form {
  width: 563px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
}

form div input {
  width: 100%;
}

form input,
form textarea {
  padding: 10px 15px;
  margin: 10px 10px;
  outline: none;
  border: 1px solid #b6b6b660;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

form button {
  width: 120px;
  padding: 10px;
  font-size: 1rem;
  color: white;
  border: none;
  background-color: #790bdf;
  border-radius: 5px;
  margin: 20px auto;
}

::placeholder {
  color: #6c757d;
}

#social-media-container {
  height: 65px;
  background-color: #790bdf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -22px;
}
#social-media-container a{
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
}
/* contact form ends here */
#footer {
  height: 65px;
  background-color: #790bdf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer a {
  color: #fff;
  text-decoration: none;
}