.round-btn {
  padding: 13px 35px;
  border-radius: 26px;
  border: 2px solid #fff;
  cursor: pointer;
}
.opacity-0 {
  opacity: 0;
}
/* tittle stats here */
.title {
  width: 500px;
  margin: auto;
  position: relative;
  height: 200px;
}
.title h1 {
  font-size: 11rem;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #b6b6b6;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}
.title h2 {
  color: #790bdf;
  font-size: 2.7rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}
/* title ends here */

@media only screen and (max-width: 414px) {
  .round-btn {
    padding: 9.5px 35px;
    border-radius: 6px;
    border: 2px solid #fff;
    cursor: pointer;
}
}